/* general */
html,
body {
  position: fixed;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.grabbale {
  cursor: grab;
}
.grabbale:active {
  cursor: grabbing;
}

/* d3 */

/* FORM */
select {
  height: 100% !important;
}

.action-btn,
.select2-selection {
  height: 35px !important;
  padding: 10px;
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: space-between;
}

.select2-selection__rendered {
  padding: 0px !important;
  line-height: unset !important;
}

.select2-selection__arrow {
  position: relative !important;
}

.select2-container input {
  font-size: large !important;
}

/* preview */
.toolbar {
  height: 60px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.toolbar > * {
  margin-right: 10px;
}

.touch {
  touch-action: manipulation;
}

.tree-container {
  background-color: #eee;
  flex: 1;
}

.hidden {
  display: none;
}

.skeleton-box {
  width: 50%;
  height: 38px;
  display: inline-block;
  position: relative;
  overflow: hidden;
  background-color: #dddbdd;
}

.skeleton-box::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0.2) 20%,
    rgba(255, 255, 255, 0.5) 60%,
    rgba(255, 255, 255, 0)
  );
  animation: shimmer 1s infinite;
  content: '';
}
@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
